{% extends "exp/base.html" %}
{% block content %}

<form action ="{% url 'search_results' %}" method="GET" >
    <div id="searchButton">
        <input class="from" type="search" value="{{ from_query }}" name="from" placeholder="From">
        <input class="to" type="search"  value="{{ to_query }}" name="to" placeholder="To">
        <button class="search" type="submit">Search</button>
    </div>
</form>

{% for bus in busdetails %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ bus.bus_name }}</a>
                <small class="text-muted">{{ bus.bus_number }}</small>
            </div>

            <h2>Stops:</h2>
            <ul>
                {% for stop in bus.stops.all %}
                    <li>Stop {{ stop.stop_number }}: {{ stop.stop_name }}</li>
                {% endfor %}
            </ul>

            <p class="article-content">Date: {{ bus.date_time }}</p>
            <p class="article-content">Fare: {{ bus.fare }}</p>
            <a href="{% url 'booking_page' bus.id %}" class="chutiyaBtn">Book</a>
        </div>
    </article>
{% endfor %}


{% endblock%}

