{% extends "exp/base.html" %}
{% block content %}
<h1>Search Results for "{{ from_query }} to {{to_query}}"</h1>

       {% for bus in required_buses %}
              <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{bus.bus_name }}</a>
                  <small class="text-muted">{{ bus.bus_number }}</small>
                </div>
                <h2><a class="article-title" href="#">from {{bus.depart_from}} to {{bus.stop1}}</a></h2>
                <p class="article-content">Date: {{ bus.date }}</p>
                <p class="article-content">Time: {{ bus.time }}</p>
                <p class="article-content">Fare: {{ bus.fare }}</p>
                <a href = "{% url 'booking_page' bus.id %}" class="chutiyaBtn">Book</a>
              </div>
            </article>
        {% endfor %}
{% endblock %}